---
import Button from "@/components/primitives/Button.astro";
import { getLocalizedSettings } from "@/lib/localization-helpers";

const { contacts } = getLocalizedSettings();

type HTMLInputTypeAttribute =
	| "button"
	| "checkbox"
	| "color"
	| "date"
	| "datetime-local"
	| "email"
	| "file"
	| "hidden"
	| "image"
	| "month"
	| "number"
	| "password"
	| "radio"
	| "range"
	| "reset"
	| "search"
	| "submit"
	| "tel"
	| "text"
	| "time"
	| "url"
	| "week";

type FormFieldType = HTMLInputTypeAttribute | "textarea" | "submit";

interface FormField {
	title: string;
	placeholder?: string;
	type: FormFieldType;
	required?: boolean;
	width?: 1 | 2;
}

interface Props {
	title: string;
	fields?: FormField[];
}

const { title, fields = [] } = Astro.props;
---

<div class="items-center gap-x-[6.25rem] pb-40 auto-cols-fr justify-center flex">
	<div class="col-span-1 row-span-1 w-full max-w-4xl">
		<div class="flex justify-center">
			<iframe
				width="600"
				height="550"
				src="https://baqshi.com/crm/forms/wtl/7172d5ddbff06c6454ef5eae3c8ac7f9"
				frameborder="0"
				sandbox="allow-top-navigation allow-forms allow-scripts allow-same-origin allow-popups"
				allowfullscreen
			></iframe>
		</div>
	</div>
</div>


