---
import Button from "@/components/primitives/Button.astro";

type HTMLInputTypeAttribute =
	| "button"
	| "checkbox"
	| "color"
	| "date"
	| "datetime-local"
	| "email"
	| "file"
	| "hidden"
	| "image"
	| "month"
	| "number"
	| "password"
	| "radio"
	| "range"
	| "reset"
	| "search"
	| "submit"
	| "tel"
	| "text"
	| "time"
	| "url"
	| "week";

type FormFieldType = HTMLInputTypeAttribute | "textarea" | "submit";

interface FormField {
	title: string;
	placeholder?: string;
	type: FormFieldType;
	required?: boolean;
	width?: 1 | 2;
}

interface Props {
	title: string;
	fields: FormField[];
}

const { title, fields } = Astro.props;
---

<div class="items-center gap-x-[6.25rem] pb-40 auto-cols-fr justify-center flex">
	<div class="col-span-1 row-span-1 w-full max-w-3xl">
		<iframe width="600" height="850" src="https://www.kiwipbc.co.nz/crm/forms/quote/53f4d6fcfe7184f5abf01e364675de30" frameborder="0" sandbox="allow-top-navigation allow-forms allow-scripts allow-same-origin allow-popups" allowfullscreen></iframe>	</div>
</div>
